<!DOCTYPE html>
<html lang="en">

<head>
    <title>[[PRODUCTNAME]] Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- favicon -->
    <link href="../img/favicon.ico" rel="shortcut icon" />

    <!-- Bootstrap -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- Stylesheets -->
    <link href="../manual.css" rel="stylesheet" media="screen">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- META -->
    <meta name="keywords" content="digital signage, qmunica, documentation, manual" />
    <meta name="description" content="[[PRODUCTNAME]] user documentation and manual." />
</head>

<body data-toc="[[TOCNAME]]">

    <nav id="top-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ss-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">[[PRODUCTNAME]]</a>
            </div>

            <div class="collapse navbar-collapse" id="ss-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Search -->
                    <li>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" id="searchInput" class="form-control" placeholder="Buscar...">
                            </div>
                        </form>
                    </li>
                    <!-- Font Controls -->
                    <li class="dropdown font-settings-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" title="Tamaño de letra">
                            <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="font-slider-container">
                                    <button class="btn btn-default btn-xs font-decrease" id="fontDec"><span
                                            class="glyphicon glyphicon-minus"></span></button>
                                    <span class="small" style="margin:0 5px;">A</span>
                                    <button class="btn btn-default btn-xs font-increase" id="fontInc"><span
                                            class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Language Selector -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" title="Idioma">
                            <span style="font-weight:bold;">[[CURRENT_LANG_CODE]]</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="../es/[[CURRENT_FILENAME]]">Español</a></li>
                            <li><a href="../en/[[CURRENT_FILENAME]]">English</a></li>
                            <li><a href="../ca/[[CURRENT_FILENAME]]">Català</a></li>
                        </ul>
                    </li>
                    <!-- Standard Links -->
                    <li><a href="[[PRODUCTHOME]]" target="_blank">Web Principal</a></li>
                    <li><a href="[[PRODUCTSUPPORTURL]]" target="_blank">Soporte</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Search Results Modal -->
    <div id="searchModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Resultados de Búsqueda</h4>
                </div>
                <div class="modal-body">
                    <div id="searchResults"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="ss_body container">
        <div class="row">
            <div class="col-md-3">
                <ul id="side-nav" class="nav nav-pills nav-stacked ss_sidebar">
                    [[NAVBAR]]
                </ul>
            </div>
            <div class="col-md-7" role="main">
                [[PAGE]]
            </div>
            <div class="col-md-2 hidden-xs hidden-sm">
                <div id="on-page-nav" class="ss_sidebar">
                    [[ONPAGENAV]]
                </div>
            </div>
        </div>
    </div> <!-- container-->